<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
      <div class="jumbotron">
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        <div><%= path %></div>
        <ul>
          <% folders.forEach(function(folder) { %>
          <li><a href="<%= `${app_url}${path}/${folder.name}` %>"><%= folder.name %></a></li>
          <% }); %>
        </ul>
        <ul>
          <% files.forEach(function(file) { %>
          <li><a href="<%= `${app_url}${path}/${file.name}` %>"><%= file.name %></a></li>
          <% }); %>
        </ul>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
